body{
    background-color: #0A0A0A;
    color: white;
}

.barra{
    color: yellow;
    margin: 10px;
    width:100px;
    float:left;
    display: table;
}
.container{
    text-align: center;
}

nav {
    display: flex;
    margin: 15px;
    gap: 20px;
}